In [1]:
import pandas as pd
import numpy as np

loans = pd.read_csv(
    'https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true', 
    compression='gzip'
)

/var/folders/tl/d786gk2904gf5nsvpr28ss000000gn/T/ipykernel_45926/4123745451.py:4: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  loans = pd.read_csv(

In [3]:
column_types = loans.dtypes
column_types

Unnamed: 0                 int64
id                         int64
member_id                float64
loan_amnt                float64
funded_amnt              float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

In [5]:
datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']
#Pickle
datos_dict.to_pickle("datos_dict.pkl")
print(loans.head)
datos_dict_loaded = pd.read_pickle("datos_dict.pkl")

<bound method NDFrame.head of        Unnamed: 0        id  member_id  loan_amnt  funded_amnt  \
0               0  38098114        NaN    15000.0      15000.0
1               1  36805548        NaN    10400.0      10400.0
2               2  37842129        NaN    21425.0      21425.0
3               3  37612354        NaN    12800.0      12800.0
4               4  37662224        NaN     7650.0       7650.0
...           ...       ...        ...        ...          ...
99995       99995  22454240        NaN     8400.0       8400.0
99996       99996  11396920        NaN    10000.0      10000.0
99997       99997   8556176        NaN    30000.0      30000.0
99998       99998  24023408        NaN     8475.0       8475.0
99999       99999  24023398        NaN    25000.0      25000.0

       funded_amnt_inv        term  int_rate  installment grade  ...  \
0              15000.0   60 months     12.39       336.64     C  ...
1              10400.0   36 months      6.99       321.08     A  ...
2              21425.0   60 months     15.59       516.36     D  ...
3              12800.0   60 months     17.14       319.08     D  ...
4               7650.0   36 months     13.66       260.20     C  ...
...                ...         ...       ...          ...   ...  ...
99995           8400.0   36 months      9.17       267.79     B  ...
99996          10000.0   36 months     12.99       336.90     C  ...
99997          30000.0   60 months     20.99       811.44     E  ...
99998           8475.0   36 months     24.99       336.92     F  ...
99999          25000.0   36 months     10.15       808.45     B  ...

      hardship_payoff_balance_amount hardship_last_payment_amount  \
0                                NaN                          NaN
1                                NaN                          NaN
2                                NaN                          NaN
3                                NaN                          NaN
4                                NaN                          NaN
...                              ...                          ...
99995                            NaN                          NaN
99996                            NaN                          NaN
99997                            NaN                          NaN
99998                            NaN                          NaN
99999                            NaN                          NaN

      disbursement_method debt_settlement_flag  debt_settlement_flag_date  \
0                    Cash                    N                        NaN
1                    Cash                    N                        NaN
2                    Cash                    N                        NaN
3                    Cash                    N                        NaN
4                    Cash                    N                        NaN
...                   ...                  ...                        ...
99995                Cash                    N                        NaN
99996                Cash                    N                        NaN
99997                Cash                    N                        NaN
99998                Cash                    N                        NaN
99999                Cash                    N                        NaN

      settlement_status settlement_date settlement_amount  \
0                   NaN             NaN               NaN
1                   NaN             NaN               NaN
2                   NaN             NaN               NaN
3                   NaN             NaN               NaN
4                   NaN             NaN               NaN
...                 ...             ...               ...
99995               NaN             NaN               NaN
99996               NaN             NaN               NaN
99997               NaN             NaN               NaN
99998               NaN             NaN               NaN
99999               NaN             NaN               NaN

      settlement_percentage settlement_term
0                       NaN             NaN
1                       NaN             NaN
2                       NaN             NaN
3                       NaN             NaN
4                       NaN             NaN
...                     ...             ...
99995                   NaN             NaN
99996                   NaN             NaN
99997                   NaN             NaN
99998                   NaN             NaN
99999                   NaN             NaN

[100000 rows x 151 columns]>

In [7]:
#Vista preeliminar
print(column_types)
print(loans.head())
datos_dict

Unnamed: 0                 int64
id                         int64
member_id                float64
loan_amnt                float64
funded_amnt              float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object
   Unnamed: 0        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0           0  38098114        NaN    15000.0      15000.0          15000.0
1           1  36805548        NaN    10400.0      10400.0          10400.0
2           2  37842129        NaN    21425.0      21425.0          21425.0
3           3  37612354        NaN    12800.0      12800.0          12800.0
4           4  37662224        NaN     7650.0       7650.0           7650.0

         term  int_rate  installment grade  ...  \
0   60 months     12.39       336.64     C  ...
1   36 months      6.99       321.08     A  ...
2   60 months     15.59       516.36     D  ...
3   60 months     17.14       319.08     D  ...
4   36 months     13.66       260.20     C  ...

  hardship_payoff_balance_amount hardship_last_payment_amount  \
0                            NaN                          NaN
1                            NaN                          NaN
2                            NaN                          NaN
3                            NaN                          NaN
4                            NaN                          NaN

  disbursement_method debt_settlement_flag  debt_settlement_flag_date  \
0                Cash                    N                        NaN
1                Cash                    N                        NaN
2                Cash                    N                        NaN
3                Cash                    N                        NaN
4                Cash                    N                        NaN

  settlement_status settlement_date settlement_amount settlement_percentage  \
0               NaN             NaN               NaN                   NaN
1               NaN             NaN               NaN                   NaN
2               NaN             NaN               NaN                   NaN
3               NaN             NaN               NaN                   NaN
4               NaN             NaN               NaN                   NaN

  settlement_term
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

[5 rows x 151 columns]

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

In [ ]:

loans['term(months)'].head() 
#Cambiamos term a int, y cambiamos el titulo para especificar que son meses

In [81]:
#Casteo de columnas, eliminación de columnas no útiles y manejo de los NaNs
loans['term'] = loans['term'].str.replace(' months', '').astype(int)
loans.rename(columns={'term_(months)': 'term(months)'}, inplace=True)
loans['grade'] = loans['grade'].astype(str)
#Todas son letras, es más fácil de manejar un string
loans['emp_title'] = loans['emp_title'].astype(str)
loans['emp_title'].str.upper()
#A string porque todas son cadenas y lo ponemos en mayusculas para facilitar queries  tener orden
loans['verification_status'].astype(str)
loans['verification_status'].str.upper()
#Todas son cadenas
loans = loans.drop('issue_d', axis=1)
loans = loans.drop('pymnt_plan', axis=1)
loans = loans.drop('hardship_flag', axis=1)
#Todas son iguales no tiene caso tener esa columna para el análisis
loans = loans.drop('desc', axis=1)
loans = loans.dropna(axis=1, how='all')
# Eliminar todas las columnas que están completamente vacías
loans['emp_length'] = loans['emp_length'].str.replace('years', '')
#Ya sabemos que son años, si fueran meses serían irrelevantes.
#  Aun así vendría en la descripción de la limpieza
loans['title'] = loans['title'].astype(str)
loans['title'].str.upper()
loans['zip_code'] = loans['zip_code'].astype(str)
loans['addr_state'] = loans['addr_state'].astype(str)
#Todas son cadenas 
loans = loans.fillna(0)
#Rellenamos los NaN con 0 para que todas las columnas esten llenas, 
# es más fácil manejar el 0 que el NaN. Escogí este método para enfocar el análisis 
# más en ver cuanta gente debe en vez de la cantidad. Yo asumí que si un dato es NaN 
# está así es porque el usuario no debe nada y por eso no se registró
loans = loans.drop(loans.columns[94:], axis=1)
loans = loans.drop(['pub_rec_bankruptcies', 'tax_liens'], axis=1)
#Eliminamos las columnas de la 94 en adelante porque la gran mayoría están vacias 
#y son excepciones las que no o el valor en toda la columna es la misma

KeyError: "['issue_d'] not found in axis"

In [56]:
#Código JSON
{
    "mths_since_last_delinq": {"estrategia": "imputación", "valor": 0},
    "mths_since_last_record": {"estrategia": "imputación", "valor": 0},
    "mths_since_last_major_derog": {"estrategia": "imputación", "valor": 0},
    "mths_since_recent_bc_dlq": {"estrategia": "imputación", "valor": 0},
    "mths_since_recent_inq": {"estrategia": "imputación", "valor": 0},
    "mths_since_recent_revol_delinq": {"estrategia": "imputación", "valor": 0}
}

dtype('float64')